a{
    text-decoration: none;
}

.containerFixed{
    position: absolute;

    right: 10vw;
    margin: auto;
    z-index: 99;
    width: 40vw;
    /* background: rgb(255, 0, 0); */
}

#container{
    display: flex;
    flex-wrap: wrap;
    flex-direction : row-reverse;
    margin: 30px 0 0;
}

.item{
    padding: 2%;
    width: 46%;
}
.left-item{
    transform: translateY(100px);
}


img{
    /* max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; */
    /* width: 100%;
    height: 100%;
    object-fit: cover; 
    margin: auto;
    transition: all .3s ease; */
}
.image{
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover; 
    margin: auto;
    transition: all .3s ease;
}

.eventImage{
    width: 100%;
    height: 200px; 
    /* object-fit: cover;  */
    position: center;
    /* margin: auto; */
    border-radius: 4px;
    overflow: hidden;
    transition: all .3s ease;
}
.eventImage:hover{
    transform: scale(1.1); 
}

.eventName{
    margin-top: 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none;
    
    font-size: 1.4rem;
    color: rgb(255, 255, 255);
    transition: color .3s ease;
    margin-bottom: 8px;
}

