#event-detail{
    position:fixed;
    z-index: 105;

	top:-240%;
    bottom:0;
    right: 10vw;

    width: 40vw;
    height: 100%;
    margin: auto;

    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
	background:#F5F5F5;
    overflow-y: scroll;
    overflow-x: hidden;

	transition: all 0.6s cubic-bezier(0.76, 0.07, 0.24, 0.96);
}

#event-detail.windowactive{
    top:0;
}

#close-button{
    position:fixed;
    z-index: 1005;
    width: 2vw;
    height: 2vw;
    margin: auto;
    
    top:-3vw;
    right: 4vw;
    /* bottom:0; */
    /* box-shadow: 0 0 10px rgb(0 0 0 / 10%); */
    filter: drop-shadow(0 0 10px rgb(0 0 0 / 25%));
    transition: all 0.6s cubic-bezier(0.76, 0.07, 0.24, 0.96);
    cursor: pointer;
}
#close-button.windowactive{
    
    top:3.5vw;
    right: 4vw;
    
}

.event-detail-list{
    /* top:10vh; */
    width: 32vw;
    /* height: 100%; */
    margin-top:10vh;
    margin-bottom:10vh;
    margin-left:auto;
    margin-right: auto;
    /* position: absolute; */
    /* background:#c38e8e; */
}

.detail{
    display:flex;
    color: #171717;
    padding: 24px 24px;
    border-bottom: 1px solid #ddd;
}

.detail.lastDetail{
    border: none;
}

.event-detail-left{
    width: 30%;
    font-weight: bold;
    overflow-wrap: break-word;
}

.event-detail-right{
    width: 70%;
    overflow-wrap: break-word;
}

.venue-detai{
    padding: 12px;
    margin: 8px 0 0 0;
    border-radius: 4px;
    background-color: rgb(226, 226, 226);
}

#eventurl{
    color: #988C4C;
}
#eventurl.visited{
    color: #988C4C;
}

#venueurl{
    color: #988C4C;
}
#venueurl.visited{
    color: #988C4C;
}

.gmap{
    margin: 12px 0 0 0;
    height: 25vh;
}



