#g-nav{
    position:fixed;
    z-index: 100;
	top:0;
    bottom:0;
    right: -120%;
    margin: auto;

	width:50vw;
    height: 100%;

	background:#999;

	transition: all 0.6s cubic-bezier(0.76, 0.07, 0.24, 0.96);
}

#g-nav.panelactive{
    right: 0;
}

#g-nav-list{
    
}

/*ラジオボタン*/
.radio-button-field {
    display:flex;
    flex-flow: column;

    padding-left: 2%;

    width: 35vw;
    height: 82%;

    position: absolute;
    top: 18%;

    left: 10%;
    overflow-y: scroll;

    border: none;

  }

.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    font-size:16px;
    color: #f5f5f5;
    padding: 1rem 1rem;
    transition: all .2s;
}

.radio-inline__label:hover{
    cursor: pointer !important;
    transform: scale(1.05);
    /* color: #000000; */
    background-color: #8c8c8c;
    transition: 0.4s;
}

.radio-inline__input:checked + .radio-inline__label {
    color: #171717;
}

.radio-inline__input:focus + .radio-inline__label {
}
