.left-fixed {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 10vw;
    z-index: 100;
    font-size: 1.6rem;
}

.right-fixed{
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100vh;
    width: 10vw;
    z-index: 1000;
    font-size: 1.6rem;
}

.left-text{
    position: absolute;
    top: 50%;
    left: 48%;
    letter-spacing: 0.3rem;
    z-index: 1000;
    white-space: nowrap;

    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    /* z-index: 120; */
    /* -o-transition: all 0.8s cubic-bezier(0.76, 0.07, 0.24, 0.96);
    transition: all 0.8s cubic-bezier(0.76, 0.07, 0.24, 0.96); */
    mix-blend-mode: exclusion;
}

.right-text{
    position: absolute;
    top: 50%;
    left: 48%;
    letter-spacing: 0.3rem;
    z-index: 1000;
    white-space: nowrap;

    /* transform-origin:center; */
    transform: translate(-50%, -50%) rotate(90deg);
    /* -o-transition: all 0.8s cubic-bezier(0.76, 0.07, 0.24, 0.96);*/
    transition: all 0.8s cubic-bezier(0.76, 0.07, 0.24, 0.96);

    transition: 0.5s;
    mix-blend-mode: exclusion;
    cursor: pointer;
}

.right-text:hover{
    letter-spacing: 0.5rem;
}

/* .right-text:active{
    letter-spacing: 0.3rem;
} */


.icon{
    position: absolute;
    width: 60px;
    top: 6%;
    left: 30%;
    z-index: 1000;
    white-space: nowrap;
    
    transition: 0.6s;
    transform-origin:center;
    margin: 0;

    fill:#988C4C;
}
.icon:hover {
    transform: rotate(360deg) scale(1.2); 
    fill: rgb(221, 221, 221);
    /* filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.25)); */
}

.thumbnail-fixed{
    position: fixed;

    top: 0;
    bottom: 0;
    left: 10vw;
    margin: auto;

    /* top : 10vw;
    left: 10vw; */

    z-index: 99;
    height: 70vh;
    width: 35vw;
    background: rgb(255, 0, 0);
    /* cursor: pointer; */
}

.thumbnail-container{
    position: fixed;

    top: 0;
    bottom: 0;
    left: 10vw;
    margin: auto;

    /* top : 10vw;
    left: 10vw; */

    z-index: 99;
    height: 70vh;
    width: 35vw;

    background: rgb(255, 255, 255);

    background-size: 100%;
    background-repeat: no-repeat;
}