.topic{
    padding: 5vh;
    text-align: center;
    font-size: 2rem;
}

.topic a, .topic-footer a{
    color: #f5f5f5;
}

.topic-header{
    padding: 4vh 0;
    margin-bottom: 15vh;
}


.topic-tag{
    font-size: 1.8rem;
    width: 60vw;
    margin: auto;
    max-width: 200%;
    text-align: left;
}

.topic-title{
    font-size: 2rem;
    text-align: center;
}

.topic-venue{
    font-size: 1.8rem;
    width: 60vw;
    margin: auto;
    max-width: 200%;
    text-align: right;
}

.container{
    padding: 0 12vw;
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.container p{
    width: 30vw;
    margin-left: 10vw;
    font-size: 1.5rem;
}

.container:nth-child(1) img{
    width: 40vw;
}

.container:nth-child(2) img, .container:nth-child(3) img{
    margin-right: 2vw;
    width: 18vw;
}

.container:nth-child(4) img{
    width: 40vw;
}

.container:nth-child(5) img{
    width: 40vw;
}

.container:nth-child(6) img{
    width: 40vw;
}

.topic-footer{
    width: 60vw;
    margin-left: 10vw;
    padding: 16vh 10vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    border-top: 1px solid white;
    border-bottom:  1px solid white;;
}

.topic-footer p{
    text-align: center;
    vertical-align: top;
}

.footer{
    margin-bottom: 5vh;
    padding: 3rem 1.5rem 6rem;
}

.footer p{
    text-align: center;
}