/* コンテナの画像たちは、特集記事によってサイズや数が変わるからcssを分けないといけない! */
.container:nth-child(1) img{
    width: 40vw;
}

.container:nth-child(2) img{
    margin-left: 1vw;
    width: 18vw;
}

.container:nth-child(3) img{
    width: 18vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

.container:nth-child(4) img{
    width: 40vw;
}


