.terminal{
    padding: 6vh 0;
}

.topic{
    position: relative;
    padding: 3vh;
    text-align: center;
    font-size: 2rem;
}

.topic img{
    width: 40vw;
    height: 18vh;
    object-fit: cover;
    padding: 5px;
    background-color: #f5f5f5;
    opacity: 0.6;
}

.topic img:hover{
    transform: scale(1.05);
    opacity: 1;
    transition: 0.8s cubic-bezier(.27,.78,.48,.97);
}

.topic p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    color: #f5f5f5;
    /* padding: 0; */
    /* background-color: #f5f5f5d0; */
    /* padding: 0.3em; */
    /* background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 50%, #f5f5f5 50%);
    background-position: 0 0;
    background-size: 200% auto;
    transition: .3s; */
}

/* .topic a:hover{
    background-position: -100% 0;
    color: #171717;
} */

.topic-footer a{
    color: #f5f5f5;
}

.topic-header{
    padding: 4vh 0;
    margin-bottom: 15vh;
}


.topic-tag{
    font-size: 1.8rem;
    width: 60vw;
    margin: auto;
    max-width: 200%;
    text-align: left;
}

.topic-title{
    font-size: 2rem;
    text-align: center;
}

.topic-venue{
    font-size: 1.8rem;
    width: 60vw;
    margin: auto;
    max-width: 200%;
    text-align: right;
}

.container{
    padding: 0 12vw;
    margin: 30px 0;
    display: flex;
    align-items: center;
}

.container p{
    width: 30vw;
    margin-left: 10vw;
    font-size: 1.5rem;
}


.topic-footer{
    width: 60vw;
    margin-left: 10vw;
    padding: 10vh 10vw;
    margin-top: 10vh;
    margin-bottom: 5vh;
    border-top: 1px solid white;
    border-bottom:  1px solid white;;
}

.topic-footer p{
    margin: 2vh;
    text-align: center;
    vertical-align: top;
}

.footer{
    margin-bottom: 5vh;
    padding: 3rem 1.5rem 6rem;
}

.footer p{
    text-align: center;
}