* {
    margin: 0px;
    padding: 0px;
}
    

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4em;
    background: #000;
    font-family: 'Noto Sans JP',Noto Sans CJK JP,-apple-system-body,BlinkMacSystemFont,Yu Gothic Medium,游ゴシック Medium,YuGothic,游ゴシック体,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,Osaka,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.65;
    padding: 0;
    margin: 0;
    top: 0;
    vertical-align: baseline;
    color: #fff;
}

ul {
    display: flex;
    align-items: center;
    justify-content: right;
}
li {
    list-style: none;
}

#header{
    background: #fff;

    top: 0;
    right: 0;
    left: 0;

    /* height: 20vh; */

    padding: 7.5vh 0 0 0;
}

#title{

}

.containerFixed{
    position: absolute;

    /* top: 0;
    bottom: 0; */
    right: 10vw;
    margin: auto;

    /* top : 10vw;
    left: 10vw; */

    z-index: 99;
    /* height: 70vh; */
    width: 40vw;
    background: rgb(255, 0, 0);
}



.events{
    padding: 0 16px;
}

#container{
    display: flex;
    flex-wrap: wrap;

    /* width: 75vw;
    max-width: 1000px; */
    margin: 30px auto;


}

#left-container,#right-container{
    width: 50%;
    float: left;
}

.item{
    /* display: flex; */
    /* flex-direction: column; */
    /* margin-right: 2%; */
    
    /* position: absolute; */
    width: 100%;
    
    /* background: #FFFFFF; */
    margin-bottom: 40px;
    /* border-radius: 16px; */
}

.eventTag{
    margin-top: 8px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    color: rgb(70, 221, 255);
    transition: color .3s ease;
    line-height: 1.5;
    margin-bottom: 8px;
}

img{
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    transition: all .3s ease;
}

.eventImage{
    width: 100%;
    height: 180px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    position: relative;
    border-radius: 4px;
    overflow: hidden;
}

.eventName{
    margin-top: 8px;
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 1.4rem;
    color: #333;
    transition: color .3s ease;
    line-height: 1.5;
    margin-bottom: 8px;
}

.eventVenue{
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    font-size: 1rem;
    color: #333;
}
