* {
    margin: 0px;
    padding: 0px;
}
    

html {
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.4em;
    background: #171717;
    font-family: 'Noto Sans JP',Noto Sans CJK JP,-apple-system-body,BlinkMacSystemFont,Yu Gothic Medium,游ゴシック Medium,YuGothic,游ゴシック体,ヒラギノ角ゴ Pro W3,Hiragino Kaku Gothic Pro,メイリオ,Meiryo,Osaka,ＭＳ Ｐゴシック,MS PGothic,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1.65;
    padding: 0;
    margin: 0;
    top: 0;
    vertical-align: baseline;
    color: #F5F5F5;
}

ul {
    display: flex;
    align-items: center;
    justify-content: right;
}
li {
    list-style: none;
}

#header{
    background: #F5F5F5;

    top: 0;
    right: 0;
    left: 0;

    padding: 7.5vh 0 0 0;
}

.white-page{
    background: #F5F5F5;
}

